// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #2b2d42;
$gray: #8d99ae;
$off_white: #edf2f4;
$bright_red: #ef233c;
$darker_red: #d90429;

* {
  font-size: 10px;
}

body {
  margin: 3rem;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  background-color: $black;
  color: $off_white;
  p {
    font-size: 1.6rem;
    color: $darker_red;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
  }
  a {
    margin: 5rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    text-decoration: none;
    background-color: $bright_red;
    color: $gray;

    &:hover {
        color: $bright_red;
        background-color: $gray;
      }

  }
 

  
}